<% @review = Review.new %>
<%= form_for(@review) do |f| %>
      
      <div class="row">
      <div class="email col-md-4">
          <%= f.number_field :stars, :placeholder => "Rating (1-5)"%>
      </div>

      </div>                              
    <div class="row">
      <%= f.hidden_field :place_id,value: place.id %>
      <div class="email col-md-12">
          <%= f.text_area :description, :placeholder => "Detailed review"%>
      </div>
    </div>
    <div class="row">        
        <div class="email col-md-12">
          <%= f.label "Attach an image"%>
      </div>
      <div class="subject col-md-6"  style="display:inline">
        <%= f.file_field :image , :placeholder => "Attach an image"%>
        
        
      </div>
      <div class="subject col-md-6"  style="display:inline">
        <%= f.text_field :remote_image_url, :placeholder => "Upload via URL" %>
        </div>
      </div>
      <div class="send">
          <%= f.button :submit %>
      </div>
<% end %>
                                                   