<div class="view-comments">
    <div class="comments">
        <div class="comment-body">
            <h6 onclick="window.open(<%=users_path review.user%>);"><%= review.user.name %></h6>
            <span class="date"><%= review.date %></span>
            <a href="#" class="hidden-xs"><%= review.stars %> Stars</a>
        </div>
        <div class="row">
       <div class="col-md-6">
        <div class="author-thumb">
            <img src="<%=review.image if review.image %>" alt="/default.jpg" style="max-width: 100%">
        </div>
        </div>
        <div class="col-md-6">
           <%= review.description.html_safe %>
       </div>
        </div>
    </div>

</div>
<div class="divide-line">
                                                <img src="/assets/div-line.png" alt="" />
                                                </div>