<div class="view-comments">
    <div class="comments">
        <div class="comment-body">
            <h6><%= link_to review.user.name, user_path(review.user) %></h6>
            <span class="date"><%= review.date %></span>
            <a href="#" class="hidden-xs"><%= review.stars %> Stars</a>
           <%= review.description.html_safe %>
        </div>
        <div class="author-thumb">
            <img src="<%=review.image if review.image %>" alt="/default.jpg" style="max-width: 100%">
        </div>
    </div>

</div>
<div class="divide-line">
                                                <img src="/assets/div-line.png" alt="" />
                                                </div>