<div class="col-md-3 col-sm-6 mix portfolio-item pasta" style="display: inline-block">       
  <div class="portfolio-wrapper">                
      <div class="portfolio-thumb">
          <img src="<%=place.image%>" alt="" style="width: 250px;height: 250px"/>
          <div class="hover">
              <div class="hover-iner">
                  <%= link_to place do %><i class="fa fa-expand"></i><% end %>
                  <span> <%= place.category %></span>
              </div>
          </div>
      </div>  
      <div class="label-text">
          <h3><%= link_to place.title, place%></h3>
          <span class="text-category">By: <%= link_to place.user.name, user_path(place.user) %></span>
      </div>
  </div>          
</div>